@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,5008display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none;
    border: none;
}
section{
    height: 400%;
    padding: 10rem 9% 2rem;
    background-color: #0E0D0D;
    color: white;
}
.sec1{
    padding: 10px 20px;
    display: flex;
    width: 150%;
    height:400%;
    margin-top: .5%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
}
.home{
    height: 150%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 15%;
}
.right{
    background: url('img2.png') no-repeat center;
	background-size: cover;
    height: 145%;
    background-position: center;
    margin-top: -40%;
    padding-top: -10%;
}
.home-detail h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2%;
}
.home-detail h1{
    font-size: 2.1rem;
    font-weight: 700;
    margin: 3px 0;
    opacity: 1;
    padding-top: 1%;
}
.home-detail p{
    font-size: 1rem;
    opacity: 1;
    padding-top: 1%;
}
.social-media{
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #ef6e12;
    font-size: 2rem;
    /*border: 2px solid #ef6e12;*/
    background: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    gap: .4rem;
    margin-top: -45%;
}
.social-media i{
    color: white;
}
.social-media a:hover, .social-media a.active{
    background-color: #ef6e12;
    color: black;
    box-shadow: 0 0 20px #ef6e12;
}
.home-detailh3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: #ef6e12;
}
.btn1{
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2.6rem;
    border-radius: 40px;
    color: black;
    background-color: #ef6e12;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    outline: none;
    transition: .5s ease;
    margin-top: -20%;
}
.btn1:hover{
    background: black;
    color: #ef6e12;
    border: 1px solid #ef6e12;
}
.para:hover{
    color: white;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0E0D0D;
}
.about p{
    color: #ef6e12;
}
.allheading{
    text-align: center;
    font-size: 4.5rem;
}
.about-section h2{
    text-align: left;
    line-height: 1.2;
}
.about-section h3{
    font-size: 2.6rem;
}
.about-section p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.service-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.service-section .service-box{
    flex: 1 1 30rem;
    padding: 2rem 1rem 3rem;
    border-radius: 2rem;
    background-color: #111;
    text-align: center;
    border: 2px solid #ef6e12;
    transition: .5s ease;
}
.service-box:hover{
    border-color: 2px solid #ef6e12;
    transform: scale(1.2);
}
.service h2{
    margin-bottom: 5rem;
}
.service-box i{
    font-size: 100px;
    color: #ef6e12;
}
.service h3{
    font-size: 2.6rem;
}
.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.portfolio{
    background-color: #111;
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    grid-template-rows: repeat(3,lfr);
    display: grid;
    text-align: center;
    gap: 2.5rem;
}
.portfolio-section .portfolio-box{
    flex: 1 1 30rem;
    padding: 2rem 1rem 3rem;
    border-radius: 2rem;
    background-color: #111;
    text-align: center;
}
.portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #111;
    overflow: hidden;
    display: flex;
    
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-head{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.3),#ef6e12);
    display: flex;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box:hover .portfolio-head{
    transform: translateY(0%);
}
.portfolio-box .portfolio-head h4{
    font-size: 3rem;
}
.portfolio-head p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-head i{
    font-size: 2rem;
    color: #111;
}
.footer{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 9%;
    flex-wrap: wrap;
    color: white;
}
.footer .text p{
    font-size: 1.6rem;
    text-align: center;
}
.footerUp a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ef6e12;
    padding: .8rem;
    text-decoration: none;
    border-radius: 50%;
}
.footerUp i{
    font-size: 2.4rem;
    color: #111;
    text-align: center;
}